
api_specflow/.vs/api_specflow/v16/.suo
api_specflow/.vs/api_specflow/v16/Server/sqlite3/storage.ide
api_specflow/.vs/api_specflow/v16/Server/sqlite3/storage.ide-shm
api_specflow/.vs/api_specflow/v16/Server/sqlite3/storage.ide-wal
api_specflow/api_specflow/obj/Debug/api_specflow.csprojAssemblyReference.cache
api_specflow/api_specflow/obj/Debug/api_specflow.csprojAssemblyReference.cache
api_specflow/api_specflow/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
api_specflow/.vs/api_specflow/v16/Server/sqlite3/db.lock
api_specflow/.vs/api_specflow/v16/.suo
api_specflow/.vs/api_specflow/v16/Server/sqlite3/db.lock
api_specflow/.vs/api_specflow/v16/Server/sqlite3/storage.ide
